.cover__link {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  color: #fff;
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  aspect-ratio: 16/10;
  gap: 32px;
}

.cover__link::after {
  content: '';
  position: absolute;
  background: #2A2C2F;
  opacity: .3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity .2s linear;
}

.cover__link:hover::after {
  opacity: .8;
}

@media screen and (max-width: 520px) {
  .cover__link {
    gap: 16px;
  }
}
