.lead__title {
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
  color: #fff;
  padding: 56px 0 32px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .lead__title {
    padding: 48px 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    padding: 48px 0 16px;
    font-size: 40px;
    line-height: 110%;
  }
}

@media screen and (max-width: 370px) {
  .lead__title {
    max-width: 90%;
    padding: 48px 0 16px;
    font-size: 40px;
    line-height: 110%;
  }
}


